
/* background color */
body {
  background-color: #c6d2c6;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
}
.skewed-bg{
background: #ffdedc;
padding:350px 0;
-webkit-transform: skew(0deg, -5deg);
-moz-transform: skew(0deg, -5deg);
-ms-transform: skew(0deg, -5deg);
-o-transform: skew(0deg, -5deg);
transform: skew(0def, -5deg);
margin-top: -210px;
border-bottom: 1.5px solid black;
}
.skewed-bg2{
border-top: 1.5px solid black;
background: #ffdedc;
padding:430px 0;
-webkit-transform: skew(0deg, 0deg);
-moz-transform: skew(0deg, 0deg);
-ms-transform: skew(0deg, 0deg);
-o-transform: skew(0deg, 0deg);
transform: skew(0def, 0deg);
margin-top: 510px;
border-bottom: 1.5px solid black;
}

/*.skewed-bg3{
border-top: 1.5px solid black;
background: #ffdedc;
padding:430px 0;
-webkit-transform: skew(0deg, 0deg);
-moz-transform: skew(0deg, 0deg);
-ms-transform: skew(0deg, 0deg);
-o-transform: skew(0deg, 0deg);
transform: skew(0def, 0deg);
margin-top: 510px;
border-bottom: 1.5px solid black;
}*/

/* css for h1 */
h1 {
  color: #000;
  text-align: left;
  text-transform:lowercase;
  font-size: 40px;
  font-family: 'Urbanist', sans-serif;
  font-weight:600;
  font-style:normal;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  margin-left: 40px;
  margin-top: 20px;
}
/* css for nav menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
  line-height: 60px;
  left: 0px;
  border-bottom: 1.5px solid black;

}
li {
  float: right;
}
li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Urbanist', sans-serif;
  text-transform: lowercase;
  vertical-align: top;
  margin-right: 40px;
  height: 100px;
  line-height: 80px;
}
li a: hover{
  background-color: white;
}
/* daniela gt sweater pic*/
.image1 {
  transform: rotate(-3deg);
  position: absolute;
  top: 130px;
  left: 60px;
  border-radius: 30%;
  box-shadow: 0 0 0 1px black,
    0 0 0 5px #c6d2c6,
    0 0 0 6px black,
    0 0 0 10px #93939b,
    0 0 0 11px black;
}
.image1:hover {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
/* hey there*/
h2{
color: #000;
position: absolute;
top: 265px;
left: 550px;
font-size: 70px;
text-transform:lowercase;
font-family: 'Tilt Warp', cursive;

}
/* first description*/
p {
color: #000;
position: absolute;
top: 360px;
left:550px;
text-transform: lowercase;
font-family: 'Urbanist', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size: 18px;
}
/*star doodle*/
.image2{
position: absolute;
   top: 460px;
   left: 430px;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

.image4{
position: absolute;
   top: 115px;
   left: 40px;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
.image5{
position: absolute;
   top: 507px;
   left: 430px;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
.image6{
position: absolute;
   top: 117px;
   left: 85px;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
.image8{
position: absolute;
   top: 165px;
   left: 50px;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
.image9{
position: absolute;
   top: 462px;
   left: 476px;
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
/*hand wave doodle*/
.image3{
position: absolute;
top: 245px;
left:900px;
    animation: shake 0.35s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

h3{
color: #000;
position: absolute;
top: 562px;
left: 930px;
font-size: 80px;
text-transform:lowercase;
font-family: 'Tilt Warp', cursive;
text-align: right;

}
p2 {
color: #000;
text-align: right;
position: absolute;
top: 770px;
left:665px;
text-transform: lowercase;
font-family: 'Urbanist', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size: 18px;
}

/*resume*/
h4{
color: #000;
position: absolute;
top: 1170px;
left:550px;
font-size: 70px;
text-transform:lowercase;
font-family: 'Tilt Warp', cursive;
}
.image7 {
  position: absolute;
  top: 1290px;
  left: 420px;
  box-shadow: 0 0 0 1px black,
    0 0 0 5px #c6d2c6,
    0 0 0 6px black,
    0 0 0 10px #93939b,
    0 0 0 11px black;
}
h5{
color: #000;
position: absolute;
top: 1970px;
left:550px;
font-size: 70px;
text-transform:lowercase;
font-family: 'Tilt Warp', cursive;
}
/*soccer*/
.image10 {
  transform: rotate(10deg);
  border-radius: 0%;
  position: absolute;
  top: 710px;
  left: 65px;
  z-index: 1;
  border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 40px solid white;
        box-shadow: 0 0 0 2px black;
}


/*main pic*/
.image11 {
  transform: rotate(5deg);
  border-radius: 0%;
  position: absolute;
  top: 740px;
  left: 230px;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-bottom: 50px solid white;
      box-shadow: 0 0 0 2px black;

}
/*beach*/
.image12 {
  transform: rotate(-5deg);
  border-radius: 0%;
  position: absolute;
  top: 900px;
  left: 65px;
  border-top: 5px solid white;
    border-left:5px solid white;
    border-right: 5px solid white;
    border-bottom: 40px solid white;
        box-shadow: 0 0 0 2px black;


}
/*twine pic*/
.image13 {
  transform: rotate(-5deg);
    border-radius: 0%;
    position: absolute;
    top: 640px;
    left: 510px;
  z-index: 1;
  border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 40px solid white;
        box-shadow: 0 0 0 2px black;
}
/*tiny pic*/
.image14{
  transform: rotate(10deg);
    border-radius: 0%;
    position: absolute;
    top: 640px;
    left: 660px;
  z-index: 1;
  border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 40px solid white;
        box-shadow: 0 0 0 2px black;

}
/*food pic*/
.image15 {
  transform: rotate(-5deg);
  border-radius: 0%;
  position: absolute;
  top: 850px;
  left: 475px;
  z-index: 1;
  border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 40px solid white;
    box-shadow: 0 0 0 2px black;
}

.image16{
transform: rotate(8deg);
position: absolute;
top: 925px;
left: 220px;
z-index: 1;
}

.image17{
transform: rotate(-5deg);
position: absolute;
top: 1025px;
left: 75px;
z-index: 1;
}

.image18{
transform: rotate(10deg);
position: absolute;
top: 828px;
left: 60px;
z-index: 1;
}
.image19{
transform: rotate(-5deg);
position: absolute;
top: 988px;
left: 488px;
z-index: 1;
}
.image20{
transform: rotate(-5deg);
position: absolute;
top: 763px;
left: 520px;
z-index: 1;
}
.image21{
transform: rotate(10deg);
position: absolute;
top: 758px;
left: 653px;
z-index: 1;
}

/* pink tape*/

.image22{
transform: rotate(10deg);
position: absolute;
top: 615px;
left: 705px;
z-index: 1;

}
/* green tape*/

.image23{
transform: rotate(15deg);
position: absolute;
top: 622px;
left: 530px;
z-index: 1;
}
/* blue tape*/

.image24{
transform: rotate(-5deg);
position: absolute;
top: 830px;
left: 500px;
z-index: 1;
}

.image25{
transform: rotate(-39deg);
position: absolute;
top: 715px;
left: 200px;
z-index: 1;
}

.image26{
transform: rotate(-39deg);
position: absolute;
top: 990px;
left: 395px;
z-index: 1;
}
.image27{
transform: rotate(-39deg);
position: absolute;
top: 895px;
left: 35px;
z-index: 1;
}

.image28{
transform: rotate(-39deg);
position: absolute;
top: 1045px;
left: 175px;
z-index: 1;
}

.image29{
transform: rotate(10deg);
position: absolute;
top: 695px;
left: 110px;
z-index: 1;
}
